$white: #FFFFFF;
$darkred: #440210;
$lightred: #DB6981;
$mediumred: #87122A;
$darkblue:  #032C60;
$mediumblue: #1d58A3;
$lightblue: #6fA4E8;
$mediumgray: #6E7377;
$lightmediumgray: #959bA0;
$lightishgray: #757f87;
$lightgray: #9bA1A5;
$lightestgray: #CDD2D6;