.navbar {
  display: flex;
  justify-content: space-between;
  background-color: $lightgray;
  padding: 0 40px;
}

.navbar-title {
  font-family: $logo;
  font-weight: 700;
  color: $darkblue;
  font-size: 54px;
  padding-bottom: 4px;
  &:hover {
    cursor: pointer;
  }
}

.nav-links {
  font-family: $title;
  display: flex;
  margin-left: 50px;
  a, div {
    color: $darkblue;
    padding: 24px 16px;
    height: 23px;
    font-size: 18px;
    font-weight: 700;
    &:hover{
      color: $mediumblue;
      cursor: pointer;
    }
  }
}